body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}
.page {
  background-color: #2a2c2f;
  font-family: "Inter";
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  /* max-width: 1280px; */
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 350px) {
  .page {
    flex-direction: column;
    display: flex;
    max-width: 320px;
    align-items: center;
  }
}
